@font-face {
  font-family: 'sweetasrevenge';
  src: url('sweetasrevenge.otf'),
	   url('sweetasrevenge.otf');
}
body {
	margin:0;
}
#header {
	position:absolute;
	z-index:2;
	height:52px;
	width:300px;
	background-color: white;
	left: 50%;
	margin-left: -150px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 5px;
	margin-top: 10px;
	display:table;
}
#headline {
	font-family: 'Cinzel', serif;
	text-align: center;
	font-size:28px;
	display:table-cell;
	vertical-align:middle;
	cursor:default;
	color:#1E1E1E;
	font-weight:100;
	padding-left:25px;
}
#beta {
	display:table-cell;
	vertical-align:middle;
	padding-bottom: 11px;
	padding-right: 25px;
	font-family: 'Cinzel', serif;
	font-size:0.85em;
	cursor:default;
	top:40;
	color:red;
}
#map {
	height: 100vh;
}